.intro__img-wrapper {
  padding: 90px 0 85px 0;
  background-image: url("../../img/primary-mask.svg"),
    url("../../img/background-intro.jpg");
  background-size: cover;
  background-position: 50% 50%,
    0 0;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 78px 0 90px 0;
  }

  &--size-s {
    padding: 52px 0 67px 0;
    background-image: url("../../img/primary-mask-size-s.svg"),
      url("../../img/background-intro-size-s.jpg");

    @media (min-width: $tablet-width) {
      padding: 95px 0 117px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 101px 0 120px 0;
    }
  }
}

.intro__img {
  display: block;
  margin: 0 auto;
}

.intro__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 18px 16px 18px;

  @media (min-width: $tablet-width) {
    padding: 48px 18px 56px 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 18px 44px 18px;
  }

  &--size-s {
    padding: 36px 18px 28px 18px;

    @media (min-width: $tablet-width) {
      padding: 64px 18px 102px 18px;
    }

    @media (min-width: $desktop-width) {
      padding: 115px 18px 67px 18px;
    }
  }
}

.intro__title {
  max-width: 260px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 520px;
  }

  &--large-indent {
    margin-bottom: 35px;
  }

  &--medium-indent {
    margin-bottom: 24px;
  }

  &--small-indent {
    margin-bottom: 16px;
  }
}

.intro__description {
  max-width: 284px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 520px;
  }

  &--size-s {
    @media (min-width: $tablet-width) {
      max-width: 470px;
    }
  }
}
