.video__headline {
  padding: 17px 0 38px 0;
  border-top: 1px solid $neutral;
}

.video__headline-title {
  margin: 0 0 24px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
}

.video__headline-description {
  margin: 0;
  text-transform: uppercase;
}
